.sidebar{
		 padding:10px;
		 color:orange;
		 background:#585858;
		 width:280px;
		 height:400px;
		 position:absolute;
		 top:100px;
		 left:30px;
	 }


.sidebarRight{
		 padding:10px;
		 color:orange;
		 background:#585858;
		 width:280px;
		 height:400px;
		 position:absolute;
		 top:100px;
		 left:1020px;
	 }

.btnIcon
{	
	margin-top: 7px;
	margin-left:7px;
	background-image: url(writing.png);
	background-color:transparent;
	background-repeat: no-repeat;
	border:none;
	cursor:pointer;
	height:36px;
	width:34px;

}

.btnEdit
{	
	margin-top: 7px;
	margin-left:5px;
	background-image: url(tools.png);
	background-color:transparent;
	background-repeat: no-repeat;
	border:none;
	cursor:pointer;
	height:33px;
	width:34px;

}

.vs
{
	visibility:hidden;
}
.item-copy
{
	visibility:visible;
}
.item-edit
{
	visibility:visible;
}

td:nth-child(4) 
{
  display: none
}

#query
{
	 display: none
}